<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" />
  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="index.html">Délégués-Médicaux</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        </li>
        <!-- User Menu-->
        <li class="dropdown">

    <li><a class="dropdown-item" href="Logout" style="border-top-width: 13px;padding-top: 14px;padding-bottom: 14px;"><i class="fa fa-sign-out fa-lg"></i>Se déconnecter</a></li>
          
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="static/images/delegue.png" alt="User Image">
        <div>
          <p class="app-sidebar__user-name"><%= User.Nom %> <%= User.Prenom %></p>
         <p class="app-sidebar__user-designation">Délégué</p>
          
        </div>
      </div>
      <ul class="app-menu">
        <li>
            <a class="app-menu__item active" href="dashboard_D">
              <i class="app-menu__icon fa fa-dashboard"></i>
              <span class="app-menu__label">Tableau da bord</span>
            </a>
        </li>



    <li>
          <a class="app-menu__item" href="/Liste_Evenement">
            <i class="app-menu__icon fa fa-calendar-plus-o"></i>
            <span class="app-menu__label">Ajouter un rendez-vous</span>
          </a>
        </li>

        <li>
          <a class="app-menu__item" href="/ListeRapport">
            <i class="app-menu__icon fa fa-edit"></i>
            <span class="app-menu__label">Créer un rapport</span>
          </a>
        </li>

         <li>
          <a class="app-menu__item" href="/ListeVoyage">
           <i class="app-menu__icon fa fa-plane"></i>
           <span class="app-menu__label">Planifier un voyage</span>
          </a>
        </li>


         <li>
          <a class="app-menu__item" href="/ListeCommande">
            <i class="app-menu__icon fa fa-list-alt"></i>
            <span class="app-menu__label">Créer une commande</span>
          </a>
        </li> 
    </aside>